<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ theme_color }}">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <title>{{ title }} - {{ name }}</title>
    <link rel="stylesheet" href="/article.css">
  </head>
  <body>
    <main>
      {{ content }}
      <p><a href="{{ external_link }}">Lees bij {{ source_name }}</a></p>
    </main>
    <footer>{{ title }} <a href="/" class="b">Terug</a></footer>
  </body>
</html>
